params {

    // default input filenames
    input_table = "$PWD/test.tsv"
    features = "$PWD/test_features.tsv"

    // default column names
    ID_colname = "BROAD_ID"
    features_ID_colname = "features_ID"
    factor_colname = "gene"
    score_colname = "crispr_score"
    feature_stratify = "TP53mut_corrected"
    features_anovas = "HRmut,MMRmut"
    cores = 1
}


singularity {

    // This can be enabled even when not actually using a container
    enabled = true

    // When true, Nextflow automatically mounts host paths in the executed container. It requires the user bind control feature enabled in your Singularity installation (default: false).
    autoMounts = true
}


executor {

    // the executor is slurm, change otherwise
    // comment this altogether if you don't want to run the pipeline in a cluster
    name = 'slurm'
}

process {

    clusterOptions = '--mem=1G -c 1 --time=01:00:00'  // REMOVE -c here, pass it from $params.cores
    // DOESN'T WORK cpus = $params.cores

    // rerun jobs failed due to memory up to 3 times
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'finish'}
    maxRetries = 3

    // increase memory by 4gb at each retry
    memory = { 4.GB * task.attempt }

	// If not running within a container, comment the next line
    //container = "$PWD/container/container.sif"
}
