params {
    input_table = "test.tsv"
    list_cases = "test_cases.txt"
    // column names
    ID_colname = "BROAD_ID"
    cases_ID_colname = "BROAD_ID"
    factor_colname = "gene"
    score_colname = "crispr_score"
}


// This can be enabled even when not using a container
// When 'autoMounts = true', Nextflow automatically mounts host paths in the executed container. It requires the user bind control feature enabled in your Singularity installation (default: false).
singularity {
    enabled = true
    autoMounts = true
}


// executor is slurm, change otherwise, or comment this altogether (and edit 'clusterOptions' within 'process')
executor {
    name = 'slurm'
}

// executor options
process {
    clusterOptions = '--mem=1G -c 1 --time=01:00:00'

    // rerun jobs failed due to memory up to 3 times
    errorStrategy = {task.exitStatus == 143 ? 'retry' : 'finish'}
    maxRetries = 3

    // 'memory' bypasses --mem in clusterOptions, like this it will work on any environment
    // it is increasing by 4gb the memory at each retry
    memory = { 4.GB * task.attempt }

	// If running within a container, 'container' MUST go inside 'process' uncommented
    //container = "$PWD/sif/singularity_img.sif"
}
